{% extends 'main.html' %}

{% block content %}

    <div class="home-container">

        <div>
            {% include 'topics_component.html' %}
        </div>
        <div>
            <h5>{{room_count}} rooms availables</h5>
            <a href="{% url 'create-room'%}">Create Room</a>
            
            <div>
                {% include 'feed_component.html' %}
            </div>
        </div>

        <div>
            {% include 'activity_component.html' %}
        </div>
    </div>

{% endblock content %}
