{% extends 'main.html' %}

{% block content %}

    <style>
        .home-container {
            display: grid;
            grid-template-columns: 1fr 3fr;
        }
    </style>

    {% if name %}
        <h1>Hello {{ name }}</h1>
    {% else %}
        <h1>Hello World</h1>
    {% endif %}

    <div class="home-container">

        <div>
            <h3>Browse Topics</h3>
            <hr>

            <div>
                <a href="{% url 'home' %}">ALL</a>
            </div>

            {% for topic in topics %}
                <div>
                    <a href="{% url 'home' %}?q={{topic.name}}">{{topic}}</a> <!-- Dodajemy zmienna do linku -->
                </div>
            {% endfor %}
        </div>
        <div>
            <a href="{% url 'create-room'%}">Create Room</a>
            
            <div>
                {% for list in lista %}
                    <div>
                        <a href="{% url 'update-room' list.id %}">EDIT</a>
                        <a href="{% url 'delete-room' list.id %}">DELETE</a>
                        <span>@{{list.host.username}}</span>
                        <h3>{{list.id}} -- <a href="{% url 'list' list.id %}">{{list.name}}</a></h3>
                        <small>{{list.topic}}</small>
                        <hr>
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>

{% endblock content %}
